html
{
    scroll-behavior: smooth;
}
body
{
    margin: 0;
    /* color: rgb(30, 30, 30); */
    font-family: 'Inter', sans-serif;
    height: 100vh;
    /* overflow-x: hidden; */

    scroll-behavior: smooth;
}

.diagonal-marquee 
{
    transform: rotate(90deg);
}

.marquee3k__copy 
{
    padding-right: 10px;
    box-sizing: border-box;
}

.marquee3k__copy:hover
{
    color: aquamarine;
}

#leftArrow,#rightArrow
{
    font-size: 18pt;
    font-weight: 900;
    font-style: italic;
    transition: all 1s ease-in-out;
}

.triangle-left 
{
    /* position: static; */
    left: 0;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 50px solid rgb(245, 245, 245);
    border-bottom: 25px solid transparent;
    
    display: inline-block;
}

.triangle-right 
{
    margin: 0;
    position: static;
    right: 0;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid rgb(30, 30, 30);
    border-bottom: 25px solid transparent;

    display: inline-block;
}

.triangle-left:hover
{
    border-right: 50px solid aquamarine;
} 

.triangle-right:hover
{
    border-left: 50px solid aquamarine;
} 

#leftArrow
{
    position: relative;
    color: rgb(245, 245, 245);
    display: inline;
}

#rightArrow
{
    color: rgb(30, 30, 30);
    z-index: 4;
    display: inline;
    position: relative;
    left: -14px;
}

.scroll
{
    position: relative;
    width: 300px;
    overflow: hidden;
    display: inline-block;
}

#barelifeArrow
{
    position: relative;
    left: -5px;
    bottom: 9px;
}

#ruptureArrow
{
    position: relative;
    right: -5px;
    bottom: 9px;
}

#arrows
{
    position: absolute;
    left: 47.5%;
    top: 70%;
    transform: translateX(-50%);
    z-index: 4;
}

#bkgrnd
{
    z-index: -1;

    position: absolute;
    right: 0;
    top: 0;
    width: 55vw;
    height: 100vh;
}

.titleType
{
    transition: all 1s ease-in-out;
    position: relative;
    top: 0vw;
    margin-left: -6px;
    margin-top: -75px;
    width: 100vw;
    font-weight: 900;
    font-size: 18.06vw;
    margin-bottom: 0;

    white-space: nowrap;

    color: rgb(245, 245, 245);

    z-index: 1;
}

#divider, #aboutDivider
{
    transition: all 1s ease-in-out;
    transform:skew(-15deg);

    background-color:rgb(255, 255, 255);
    width: 58vw;
    height: 105vh;
    position:absolute;
    bottom:-5%;
    top:-5%;
    left: 50.75%;

    mix-blend-mode: difference;

    z-index: 1;
}

#aboutDivider
{
    left: 28%;
    width: 90vw;
    mix-blend-mode: normal;
    z-index: -1;
}

#date
{
    top: -50px;
    transition: all 1s ease-in-out;

}

#date, #museum
{
    font-size: 12pt;
    font-weight: 300;

    position: relative;
    left: 65px;
    color: rgb(245, 245, 245);
    transition: all 1s ease-in-out;
}

#museum
{
    color: rgb(245, 245, 245);
    bottom: -545px;
}

.line
{
    height: 5px;
    background-color: rgb(245, 245, 245);
    width: 92vw;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    align-items: center;
    z-index: 0;

    bottom: -550px;
}

.navbar
{
    transition: all 1s ease-in-out;

    mix-blend-mode: difference;
    position: fixed;
    right: 75px;
    top: 24.8vh;
    color: rgb(245, 245, 245);
    z-index: 6;
    /* overflow: hidden; */
}

.navbar a, .overview a
{
    text-decoration: none;
    padding: 15px;
    color: rgb(245, 245, 245);
}

.navbar a:hover, .overview a:hover
{
    text-decoration: underline;
    font-weight: 900;
    text-decoration-thickness: 3px;
}

#rp:hover,#bl:hover, #aboutPage:hover
{
    text-decoration: underline;
    font-weight: 900;
    text-decoration-thickness: 3px;
}

.dropdown-container
{
    display: inline;
    position: relative;
    
}

.dropdown
{
    position: absolute;
    top: 30px;
    left: 0;
    display: none;
}

.dropdown a
{
    padding: 0;
    padding-left: 15px;
    margin-bottom: 15px;
    white-space: nowrap;
    display: block;
}

.show
{
    display: block;
}

.intro
{
    width: 580px;
    margin-right: 0;
    padding-top: 100px;
    flex-shrink: 0;
}

.ad
{
    width: 600px;
    margin-left: 200px;
    flex-shrink: 0;
    padding-right: 200px;
}

.intro h3, .ad h3, #about h3
{
    font-size: 36pt;
    font-weight: 600;
    text-decoration: underline;
    margin: 0;
    
}

.intro p, .ad p, #about p
{
    font-size: 18pt;
    line-height: 1.5;
    overflow-wrap: break-word;
    text-align: left;
}

section
{
    height: 100vh;
    /* overflow: hidden; */
}

.sectionTitle1, .sectionTitle2
{
    position: relative;
    font-weight: 900;
    font-size: 144pt;
    font-style: italic;
    margin: 0;
    margin-top: -47px;
    margin-left: -10px;
    color: rgb(245, 245, 245);
    z-index: 4;
}

.sectionTitle2
{
    margin-top: -85px;
    margin-left: -33px;
    text-shadow: -1px -1px 0 rgb(245, 245, 245), 1px -1px 0 rgb(245, 245, 245), -1px 1px 0 rgb(245, 245, 245), 1px 1px 0 rgb(245, 245, 245);
    color:rgb(15, 15, 15);

    z-index: 4;

}

.caroussel
{
    position: relative;
    margin-left: 300px;

    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;

    height: 100vh;

    background-color: rgb(245, 245, 245);
}

.image
{
    margin-left: 200px;
    z-index: 2;

    position: relative;
    background-size: cover;
    display: grid;
}

.portrait
{
    width: 500px;
    height: 750px;
}

.landescape
{
    /* aspect-ratio: 3/2; */
    width: 900px;
    height: 600px;
}

.overview
{
    position: relative;
    left: 30px;
    bottom: -400px;
    z-index: 4;
    mix-blend-mode: difference;
    color:rgb(245, 245, 245);
}

.subsection
{
    line-height: 2;
    font-size: 12pt;
}

.selected
{
    font-weight: 900;
}

.artworks
{
    display: flex;
    flex-direction: row;
}

.artpiece
{
    position: relative;
}

.artname
{
    position: absolute;
    bottom: -20px;
    left: 200px;

    font-style: italic;
}

.overview a
{
    display: block;
    padding: 0;
}

.moreBtn
{
    font-weight: 900;
    font-style: italic;
    border-radius: 0;
    background-color: rgb(30, 30, 30);
    color: rgb(245, 245, 245);
    border: 0px;
    font-size: 12pt;
    padding: 20px;

    bottom:-65px;
    transition: all .6s ease-in-out;
}

.moreBtn:hover
{
    color: rgb(30, 30, 30);
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(30, 30, 30);
}

#rupture
{
    display: flex;
    flex-direction: row;
    background-color: rgb(245, 245, 245);
    position: relative;
    /* overflow-x: hidden; */
}

#barelife
{
    display: flex;
    flex-direction: row;
    background-color: rgb(245, 245, 245);
    position: relative;
}

#home, #about
{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgb(15, 15, 15);
    padding-right: 10px;

    transition: all 1s ease-in-out;
}

#about
{
    overflow-x: hidden;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;

}

#webFooter
{
    transition: all 1s ease-in-out;
}

.container
{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.square
{
    width: 500px;
    height: 100vh;
    background-color: red;
    flex-shrink: 0;
}

.dashLines
{
    position: absolute;
    left: 0;
    bottom: 205px;
    height: 50px;
    width: 100%;
    border-bottom: 2px black dashed;
    z-index: 1;
}

.dropshaow
{
    filter: drop-shadow(2px 1px 10px #000000);
}

.fixSidebarContent
{
    position: fixed !important;
    z-index: 7;
    left: 0;
    top:0;
}

.sidebarBackground
{
    position: absolute;
    left: -133px;
    top: 0;

    width: 680px;
    height: 100vh;
    transition: all 1s ease-in-out;
    transform:skew(-15deg);

    background-color:rgb(15, 15, 15);
    z-index: 0;
}

#ruptureSidebarBckgrnd
{

}

.image > .image__element,
.image__wrap {
	transform-origin: inherit;
	position: relative;
	grid-area: 1 / 1 / 2 / 2;
	width: 100%;
	height: 100%;
	will-change: transform;
	border-radius: inherit;
}

.image__wrap {
	overflow: hidden;
}

.image__element {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
}

#bl, #rp, #aboutPage
{
    padding: 15px;
}

#content
{
    width: 700px;
    color: rgb(15, 15, 15);

    position: absolute;
    right: 15%;
}

.top
{
    top: 3vh;
}

.left1
{
    margin-left: -4px;
}

.left2
{
    margin-left: -21px;
}

.link
{
    padding: 5px;
    font-style: italic;
    font-weight: 900;
}

.link:hover
{
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.fixAbout
{
    position: fixed;
}

.hidesidebar
{
    display: none;
}