body
{
    margin: 0;
    background-color: rgb(15, 15, 15);
    color: rgb(30, 30, 30);
    font-family: 'Inter', sans-serif;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.diagonal-marquee 
{
    transform: rotate(90deg);
}

.marquee3k__copy 
{
    padding-right: 10px;
    box-sizing: border-box;
}

.marquee3k__copy:hover
{
    color: aquamarine;
}

#leftArrow,#rightArrow
{
    font-size: 18pt;
    font-weight: 900;
    font-style: italic;
    bottom: 18vh;
    transition: all 1s ease-in-out;
}

.triangle-left 
{
    position: static;
    left: 0;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 50px solid rgb(245, 245, 245);
    border-bottom: 25px solid transparent;
}

.triangle-right 
{
    margin: 0;
    position: static;
    right: 0;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid rgb(15, 15, 15);;
    border-bottom: 25px solid transparent;
}

.triangle-left:hover
{
    border-right: 50px solid aquamarine;
} 

.triangle-right:hover
{
    border-left: 50px solid aquamarine;
} 

#leftArrow
{
    position: absolute;
    left: 25%;
    color: rgb(245, 245, 245);
}

#rightArrow
{
    position: absolute;
    right: 32.3%;
    color: rgb(15, 15, 15);
    z-index: 4;
}

.scroll
{
    position: relative;
    width: 300px;
    overflow: hidden;

    position: absolute;
    top: 12.5px;
    display: inline-block;
}

#barelifeArrow
{
    left: 50px;
}

#ruptureArrow
{
    right: 50px;
}

#bkgrnd
{
    z-index: -1;

    position: absolute;
    right: 0;
    top: 0;
    width: 55vw;
    height: 100vh;
}

.titleType
{
    transition: all 1s ease-in-out;
    position: absolute;
    top: 0vw;
    margin-left: -6px;
    margin-top: -75px;
    width: 100vw;
    font-weight: 900;
    font-size: 18.06vw;

    white-space: nowrap;

    color: rgb(245, 245, 245);
}

#divider 
{
    transition: all 1s ease-in-out;
    transform:skew(-15deg);

    background-color:rgb(255, 255, 255);
    width: 80vw;
    height: 105vh;
    position:absolute;
    bottom:-5%;
    top:-5%;

    /* border: 1px solid white; */

    mix-blend-mode: difference;
}

/* #divider:hover
{
    cursor: col-resize;
} */

#date, #museum
{
    font-size: 12pt;
    font-weight: 300;

    position: absolute;
    left: 65px;
    color: rgb(245, 245, 245);
    transition: all 1s ease-in-out;
}

#date
{
    top: 25vh;
    position: absolute;
}

#museum
{
    color: rgb(245, 245, 245);
    position: absolute;
    bottom: 8vh;
}

.line
{
    height: 5px;
    background-color: rgb(245, 245, 245);
    width: 92vw;
    margin-left: auto;
    margin-right: auto;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 93vh;
    z-index: 0;
}

.navbar
{
    transition: all 1s ease-in-out;

    mix-blend-mode: difference;
    position: absolute;
    right: 75px;
    top: 25vh;
    color: rgb(245, 245, 245);
    z-index: 4;
    /* overflow: hidden; */
}

.navbar a, .overview a
{
    text-decoration: none;
    padding: 15px;
    color: rgb(245, 245, 245);
}

.navbar a:hover, .overview a:hover
{
    text-decoration: underline;
    font-weight: 900;
    text-decoration-thickness: 3px;
}

.dropdown-container
{
    display: inline;
    position: relative;
    
}

.dropdown
{
    position: absolute;
    top: 30px;
    left: 0;
    display: none;
}

.dropdown a
{
    padding: 0;
    padding-left: 15px;
    margin-bottom: 15px;
    white-space: nowrap;
    display: block;
}

.show
{
    display: block;
}

#rupture
{
    padding: 0;
    position: absolute;
    left: 100vw;
    top: 0;
    background-color: rgb(245, 245, 245);
}

#barelife
{
    position: absolute;
    right: 100vw;
    top: 0;
    background-color: rgb(245, 245, 245);
    overflow-x: scroll;
    overflow-y: hidden;
}

.intro
{
    width: 600px;
    margin-top: 250px;
    margin-right: 0;
}

.intro h3, .ad h3
{
    font-size: 36pt;
    font-weight: 600;
    text-decoration: underline;
    margin: 0;
    
}

.intro p, .ad p
{
    font-size: 18pt;
    line-height: 1.5;
}

section
{
    height: 100vh;
    width: 300vw;
    /* border: 1px red solid; */
}

.sectionTitle1, .sectionTitle2
{
    font-weight: 900;
    font-size: 144pt;
    font-style: italic;
    margin: 0;
    margin-top: -47px;
    margin-left: -10px;
    color: rgb(15, 15, 15);
}

.sectionTitle2
{
    margin-top: -85px;
    margin-left: -33px;
    text-shadow: -1px -1px 0 rgb(20, 20, 20), 1px -1px 0 rgb(20, 20, 20), -1px 1px 0 rgb(20, 20, 20), 1px 1px 0 rgb(20, 20, 20);
    color:rgb(245, 245, 245);
}

.caroussel
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    margin-left: 700px;

    display: flex;
    flex-direction: row;


    height: 80vh;
}

.image
{
    margin-left: 200px;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.portrait
{
    aspect-ratio: 2/3;
    height: 85%;
}

.landescape
{
    /* aspect-ratio: 3/2; */
    width: 900px;
    height: 600px;
}

.overview
{
    position: absolute;
    left: 30px;
    bottom: 100px;
    z-index: 4;
    mix-blend-mode: difference;
    color:rgb(245, 245, 245);
}

.subsection
{
    line-height: 2;
    font-size: 12pt;
}

.selected
{
    font-weight: 900;
}

.artworks
{
    display: flex;
    flex-direction: row;
}

.artpiece
{
    position: relative;
}

.artname
{
    position: absolute;
    bottom: -20px;
    left: 200px;

    font-style: italic;
}

#shanghai
{
    top: 20px;
    transform: translateY(0);

    width: 780px;
    height: 520px;
}

#shanghaiName
{
    margin-bottom: 214px;   
}

#urn
{
    top:0;
    transform: translateY(30%);
}

#urnName
{
    margin-bottom: -26px;  
}

#thruName
{
    margin-bottom: 51px;  
}

.overview a
{
    display: block;
    padding: 0;
}

.ad
{
    width: 600px;
    margin-left: 200px;
    height: 237px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.moreBtn
{
    font-weight: 900;
    font-style: italic;
    border-radius: 0;
    background-color: rgb(30, 30, 30);
    color: rgb(245, 245, 245);
    border: 0px;
    font-size: 12pt;
    padding: 20px;

    position: absolute;
    right: 35px;
    bottom:-65px;

    transition: all .6s ease-in-out;
}

.moreBtn:hover
{
    color: rgb(30, 30, 30);
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(30, 30, 30);
}

.home
{
    transition: all 1s ease-in-out;
    width: 100vw;
    height: 100vh;

    position: relative;
}

#webFooter
{
    transition: all 1s ease-in-out;
}
